

.copy-area {
  display: flex;
  align-items: center;
}



.copy-feedback {
  margin-left: 1rem;
  visibility: hidden;
}

.copy-feedback.active {
  visibility: visible;
}

@media screen and (max-width: 600px) {
  .container,
  .copy-area {
    flex-direction: column;
  }

  .copy-feedback {
    display: block;
    margin-top: 0.5rem;
  }
}
